.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  width: 100%;
}

.Cell {
  border: 1px solid #000000;
  padding: 4px;
  text-align: left;
}

.Cell-header {
  border: 1px solid #000000;
  padding: 4px;
  text-align: left;
  text-emphasis: 5;
  width: 300px;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
